.ui.top.fixed.menu
	a.item(href='/') Waterpark
	a.item(href='/administracao/parques', class=active == 'parques' ? 'active' : '') Parques
	a.item(href='/administracao/usuarios', class=active == 'usuarios' ? 'active' : '') Usuários

	.menu.right
		.ui.dropdown.simple.icon.item
			| Mauricio
			i.icon.dropdown

			.menu
				a.item(href='/configuracoes') Configurações
				a.item(href='/sair') Sair
