include ./inc/header.jade

body
	- var active = 'consultores'
	include ./inc/park-nav.jade

	.ui.container.very.padded.distant.top
		.ui.grid
			.row
				h1.ui.header
					| Consultores
				
include ./inc/footer.jade