doctype html
html(lang='en')
	head
		title= pageTitle
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='dist/semantic.min.css')
	body
		.ui.two.column.centered.grid
			.row
			.column
				h1.ui.center.aligned.icon.header
					i.circular.users.icon
					| Waterpark

				.ui.one.column.grid.segment.red.padded
					.column
						form.ui.form(method='post')
							h2 Faça o login
							.field
								label(for='email') Email
								input.form-control(type='email', name='email', id='email')

							.field
								label(for='password') Senha
								input.form-control(type='password', name='password', id='password')
							
							if err
								.alert.alert-danger Email ou senha incorreto!

							button.ui.button(type='submit') Submit