include ./inc/header.jade

body
	- var active = 'parques'
	include ./inc/admin-nav.jade

	.ui.container.very.padded.distant.top
		.ui.grid
			.row
				.ten.wide.column
					h1.ui.header
						| Parques
				.six.wide.column.right.aligned
					button.ui.primary.button(data-toggle-modal='#modal-create-park')
						| Adicionar Parque
			
			.row
				.column
					if (err)
						.ui.error.message= err

					table.ui.celled.table
						thead
							tr
								th(scope='col') Nome
								th(scope='col') Ações
						tbody
							for park in parks
								tr
									td
										a(href='parques/'+park.id)= park.name
									td(width='150px')
										form(method='post')
											button.ui.negative.right.labeled.icon.button(type='submit', name='delete', value=park.id)
												| Remover
												i.remove.user.icon

	#modal-create-park.ui.modal.tiny
		.header
			h5.modal-title Adicionar Parque
			
		.content
			form#form-create-park.ui.form(method='post')
				.field
					label(for='inputName') Nome
					input(type='text', id='inputName', name='name', placeholder='Digite o nome aqui')
		.actions
			button.ui.deny.button(type='button', data-dismiss='modal') Fechar
			button.ui.positive.right.labeled.icon.button(type='submit', form='form-create-park', name='create', value='true')
				| Adicionar
				i.checkmark.icon

include ./inc/footer.jade