include ./inc/header.jade

body
	- var active = 'parques'
	include ./inc/admin-nav.jade

	.container.py-md-5
		.row
			.col-md-8.offset-md-2
				.container
					.row
						.col-md-8
							h1 Parques
						.col-md-4
							button.btn.btn-primary(type='button', data-toggle='modal', data-target='#create')
								| Adicionar Parque

				br

				table.table
					thead
						tr
							th(scope='col') Nome
					tbody
						for park in parks
							tr
								td= park.name

	#create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
		form(method='post')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						h5#modalLabel.modal-title Adicionar Parque
						button.close(type='button', data-dismiss='modal', aria-label='Fechad')
							span(aria-hidden='true') ×
					.modal-body
						.form-group
							label(for='inputName') Nome
							input.form-control(type='text', id='inputName', name='name', placeholder='Digite o nome aqui')
					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Fechar
						button.btn.btn-primary(type='submit', name='create', value='true') Adicionar

include ./inc/footer.jade